# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite
*.sqlite3
*.db
monitoreo.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
postgres_data/

# Logs
logs/
*.log